<!DOCTYPE html>
<html>
  <head>
    <title>Create Clinet</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head >
  <header style="padding-bottom: 35px;">
    <%= render partial: 'layouts/menu' %> 
  </header>
  <body>
    <div class="container" style="width: 100%">
      <div class="col-4">
        <span> Создать пользователя </span>
        <%= form_with url: "/create_client", method: :post do |form| %>
          <%= form.text_field :first_name, {class: 'input', style: 'margin-top: 10px; width: 100%', placeholder: 'Имя'}%>
          <%= form.text_field :last_name, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'Фамилия'}%>
          <%= form.text_field :surname, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'Отчество'}%>
          <%= form.text_field :tag, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'Тег'}%>
          <%= form.text_field :uid, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'Идентификационный номер'}%>
          <br>
          <%= form.submit "Сохранить", {class: 'btn', style: 'margin-top: 10px' }%>
        <% end %>
      </div>
    </div>
        <% if @result.present? %>
    <script type="text/javascript">
        alert("<%= @result[:data][0].html_safe %>");
    </script>
    <% end %>
  </body>
</html>