<span>Полнение</span>
<%= form_with url: "/refill", method: :post do |form| %>
  <%= form.text_field :client_refill, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'ИН Клиента зачисления'}%>
  <div>
    <select name="currency" id="currency" style='margin-top: 10px; width: 100%'>
    <option value="" >Валюта</option>
    <% Account::CURRENCY.each do |key, data| %>
      <option value="<%=data[:table]%>">
        <%= data[:human] %>
      </option>
    <% end %>
    </select>
  </div>
  <%= form.text_field :amount, {class: 'input', style: 'margin-top: 10px; width: 100%',  placeholder: 'Сумма'}%>
  <br>
  <%= form.submit "Пополнить", {class: 'btn', style: 'margin-top: 10px' }%>
<% end %>