<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head >
  <header style="padding-bottom: 35px;">
    <%= render partial: 'layouts/menu' %> 
  </header>
  <body>
    <div class="container">
     <div class="row">
      <div class="col-6">
        <%= render partial: 'remittance' %> 
      </div>
      <div class="col-6">
        <%= render partial: 'refill' %> 
      </div>
     </div> 
    </div>
        <% if @result.present? %>
    <script type="text/javascript">
        alert("<%= @result[:data][0].html_safe %>");
    </script>
    <% end %>
  </body>
</html>