<!DOCTYPE html>
<html>
  <head>
    <title>Create Clinet</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js "></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  </head >
  <header style="padding-bottom: 35px;">
    <%= render partial: 'layouts/menu' %> 
  </header>
  <body>
    <div class="container" style="height: 30px;">
      <button class="btn" onclick="post_ajax('refill')" style="margin-left: 45px">Отчет о пополнениях</button>
      <button class="btn" onclick="post_ajax('max_min')" style="margin-left: 45px">Отчет о максимальной и минимальной сумме переводов</button>
      <button class="btn" onclick="post_ajax('sum')" style="margin-left: 45px">Отчет сумма всех счетов повалютно</button>
      <div class="sort" style="margin-top: 15px; height: 30px; margin-left: 45px; display: none;">
        <span> Сортировка по: </span>
        <button class= "btn sum max_min" style='display: none;' onclick="sort_button('tag:1')">Тегу (А-Я)</button>
        <button class= "btn sum max_min" style='display: none;' onclick="sort_button('tag:0')">Тегу (Я-А)</button>
        <button class= "btn refill" style='display: none;' onclick="sort_button('client:1')">Пользователю (А-Я)</button>
        <button class= "btn refill" style='display: none;' onclick="sort_button('client:0')">Пользователю (Я-А)</button>
        <input class= "sum max_min" id="first_date" name="first_date" type="date-local" value="<%=Date.today - 7.days %>" style="margin-top: 15px" onchange="sort_button()">
        <input class= "sum max_min" id="last_date" name="last_date" type="date-local" value="<%=Date.today%>" style="margin-top: 15px" onchange="sort_button()">
      </div>
    </div>
    <div style="margin-top: 100px;">
      <div class="container refill" id="refill">
      </div>
      <div class="container max_min" id="max_min">
      </div>
      <div class="container sum" id="sum">
      </div>
    </div>
    <%= hidden_field_tag :condition_table, nil, { id: "condition_table" }%>
    </div>
        
    <script type="text/javascript">
      <% if @result.present? %>
        alert("<%= @result[:data][0].html_safe %>");
      <% end %>

      function post_ajax(route, sort) {
        var route = route;
        var first_date = $("#first_date").val();
        var last_date = $("#last_date").val();
        $.ajax({
          url: '/info/' + route ,
          type: "POST",
          data: {
                  "sort" : sort,
                  "first_date" : first_date,
                  "last_date" : last_date
                },
          headers: {
                  'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
          success: function(success){
            build_table(success, route);
          }
        });     
      };

      function build_table(data, route) {
        var table_html = "<table class='table " + route + "'><tr>";
        let table_element = document.getElementById(route);
        for (i=0; i < data.head.length; i++ ) { 
          table_html += "<th>" + data.head[i] + "</th>"
        };
        table_html += "</tr>"
        for (i=0; i < data.body.length; i++ ) { 
          table_html += "<tr>"
          for (c=0; c < data.body[i].length; c++ ) {
            table_html += "<td>" + data.body[i][c] + "</td>"
          };
          table_html += "</tr>"
        };
        table_html += "</table>"
        table_element.innerHTML = table_html;
        show_or_hide_tables(route)
      };

      function show_or_hide_tables(route) {
        $(".table, .sum, .max_min, .refill").hide();
        $(".sort").show();
        $("." + route).show();
        $("#condition_table").attr("value", route)
      };

      function sort_button(sort) {
        var table = $("#condition_table").attr('value');
        post_ajax(table, sort)
      };
    </script>
  </body>
</html>