<div class="container" style="height: 35px; width: 100%">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class=" navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav">
	    	<li class="nav-item active" style="padding-left: 10px;">
	        <buntton class="nav-link" style="border: outset;" onclick="window.location='/create_client'" >Создать Пользователя</buntton>
	      </li>
	      <li class="nav-item active" style="padding-left: 10px;">
	        <buntton class="nav-link" style="border: outset;" onclick="window.location='/create_account'" >Создать Счет</buntton>
	      </li>
	      <li class="nav-item active" style="padding-left: 10px;">
	        <buntton class="nav-link" style="border: outset;" onclick="window.location='/info'" >Отчеты</buntton>
	      </li>
	      <li class="nav-item active" style="padding-left: 10px;">
	        <buntton class="nav-link" style="border: outset;" onclick="window.location='/operation'" >Операции</buntton>
	      </li>
	      <li class="nav-item active" style="padding-left: 10px;">
	        <buntton class="nav-link" style="border: outset;" onclick="window.location='/'" >На основную</buntton>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>